.form-section-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 70px);
  grid-gap: 10px;

  grid-template-areas: "one-time recurring . .";

  div {
    width: 100%;
  }

  .one-time-field {
    grid-area: one-time;
  }

  .recurring-field {
    grid-area: recurring;
  }
}